body {
    color: 
    background: 
    margin: 
}

header {
    border-bottom: 
    padding: 
    font-size: 
    color: 
}

section {
    background: rgb
    padding-bottom: 
    padding-top: 
    display: 
    justify-content: 
}

.chamada-texto {
    
}
body {
    color:rgb(238, 7, 7);
    background:black
}